<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/_fragment :: head(~{::title})">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>博客管理</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
  <link rel="stylesheet" href="../../static/css/me.css">
</head>
<body>
<!--头部导航-->

  <!--导航-->
  <nav th:replace="admin/_fragment :: menu(3)" class="ui inverted attached segment m-padded-tb-mini m-shadow-small" >

    </div>
    <a href="#" class="ui menu toggle black icon button m-right-top m-mobile-show">
      <i class="sidebar icon"></i>
    </a>
  </nav>
  <div class="ui attached pointing menu">
    <div class="ui container">
      <div class="right menu">
        <a href="#" th:href="@{/admin/tags/input}" class="item">新增</a>
        <a href="#" th:href="@{/admin/tags}" class="teal active item">列表</a>
      </div>
    </div>
  </div>

  <!--中间内容-->
  <div  class="m-container-small m-padded-tb-big">
    <div class="ui container  ">

      <table class="ui celled table">
        <thead>
          <tr>
            <th></th>
            <th>名称</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="tag,iterStat : ${pageInfo.list}">
            <td th:text="${iterStat.count}">1</td>
            <td th:text="${tag.name}">摸鱼方法</td>
            <td>
              <a href="#" th:href="@{/admin/tags/input/{id}(id=${tag.id})}" class="ui mini teal basic button">编辑</a>
              <a href="#" th:href="@{/admin/tags/delete/{id}(id=${tag.id})}" class="ui mini red basic button">删除</a>
            </td>
          </tr>
        </tbody>
        <tfoot>
        <tr>
          <th colspan="7">
            <div class="ui mini pagination menu"  >
              <div class="item"><a th:href="@{/admin/tags}">首页</a></div>
              <div class="item"><a th:href="@{/admin/tags(pagenum=${pageInfo.hasPreviousPage}?${pageInfo.prePage}:1)}">上一页</a></div>
              <div class="item"><a th:href="@{/admin/tags(pagenum=${pageInfo.hasNextPage}?${pageInfo.nextPage}:${pageInfo.pages})}">下一页</a></div>
              <div class="item"><a th:href="@{/admin/tags(pagenum=${pageInfo.pages})}">尾页</a></div>
            </div>
            <a href="#" th:href="@{/admin/tags/input}"  class="ui mini right floated teal basic button">新增</a>
          </th>
        </tr>
        </tfoot>
      </table>
      <div class="ui segment m-inline-block">
        <p >当前第<span th:text="${pageInfo.pageNum}"></span>页，总<span th:text="${pageInfo.pages}"></span>页，共<span th:text="${pageInfo.total}"></span>条记录</p>
      </div>

      <div class="ui success message" th:unless="${#strings.isEmpty(msg)}">
        <i class="close icon"></i>
        <div class="header">提示：</div>
        <p th:text="${msg}">恭喜，操作成功！</p>
      </div>

    </div>
  </div>

  <br>
  <br>
<!--底部footer-->
<footer th:replace="admin/_fragment :: footer">

</footer>

<th:block th:replace="admin/_fragment :: script">

</th:block>

  <script>
    $('.menu.toggle').click(function () {
      $('.m-item').toggleClass('m-mobile-hide');
    });

    $('.ui.dropdown').dropdown({
      on : 'hover'
    });

  </script>
</body>
</html>